<div class="user-details">
    <div class="user-avatar-container">
        <img class="user-avatar" src="../../../assets/{{userProfile.userimage}}" alt="">
    </div>
    <div class="user-details-list">
        <mat-icon>menu</mat-icon>
        <span>{{userProfile.userfname}} {{userProfile.userlname}}</span>
    </div>
    <div class="user-details-list">
        <mat-icon>menu</mat-icon>
        <span>{{userProfile.userrole}}</span>
    </div>
    <div class="user-details-list">
        <mat-icon>menu</mat-icon>
        <span>{{userProfile.usermail}}</span>
    </div>
</div>
<div class="sidenav-list">
    <a *ngFor="let navItem of sidenavlinks" mat-button [routerLink]="[navItem.link]"><mat-icon>{{navItem.icon}}</mat-icon>{{navItem.label}}</a>
</div>